@import "tailwindcss";

@theme {
  --color-brand-500: #6366f1; /* pick any hex color */
}

.card {
  @apply bg-white rounded-xl shadow p-5;
}

.input {
  @apply w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-brand-500;
}